body, html{
	width: 100%;
	font-family: 'Montserrat','Roboto', Charcoal, sans-serif;
	margin: 0px;
	box-sizing: border-box;
}

.side-drawer{
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 9vw;
	background-color: #020254;
	border-radius: 1px;
	color: white;
	padding: 1vh 1vw;
}
.side-drawer-title-row{
	height: 4vh;
	margin: 0px;
	font-size: 0.8vw;

	display: flex;
	flex-flow: row;
}
.side-drawer-title-row h5{
	padding-right: 1vh;
}
.side-drawer-links{
	padding-left: 0px;
	font-size: 2vh;
}
.side-drawer-links a{
	display: block;
	padding: 1vh 0px;
	margin-bottom: 5px;
	text-decoration: none;
	list-style: none;
	display: flex;
	flex-flow: row;
	border-radius: 10px;
	cursor: pointer;
	color: #b3b3b3;
}
.side-drawer-links a:hover{
	margin-left: 0.5vw;
}
.side-drawer-links .active{
	color: white;
}
.side-drawer-links i{
	margin: 0px 1vh;
}


.main {
	position: absolute;
	top: 0px;
	left: 11vw;
	width: calc(100% - 11vw);
}
.splash-picture{
	width: 100%;
	height: 35vh;
	background-color: #eee;
}
.splash-picture h1{
	margin: 0px;
	padding-top: 8vh;
	padding-left: 6vw;
	font-size: 3.5vh;
}
.splash-picture div{
	margin: 1vh 6vw;
	font-size: 3vw;
	font-weight: bold;
}

.announcements-background{
	position: absolute;
	right: 6vw;
	top: 3vh;
	width: 20vw;
	height: 40vh;
	background-color: #ddd;
	opacity: 0.6;
}
.announcements-foreground{
	position: absolute;
	right: 6vw;
	top: 4vh;
	width: 19vw;
	height: 39vh;
}
.announcements-foreground u{
	font-size: 1.5vw;
}
.announcements-foreground li{
	padding-bottom: 2vh;
	font-size: 1vw;
}

.about-csnhs{
	width: 100%;
	padding: 5vh 0vw;
}
.about-csnhs-info{
	margin: 0 auto;
	width: 95%;
	background-color: #eee;
	padding: 1vh 0vw;
}
.about-csnhs-info-item{
	width: 90%;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 3vh;
}
.about-csnhs-info-item h1{
	font-size: 1.5vw;
}
.about-csnhs-info-item div{
	font-size: 1.2vw;
}